// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 *
 */

#include "rk3568-lubancat-2m-port.dtsi"
#include "rk3568-lubancat-2io-cam.dtsi"

/ {

	vcc_hub_power: vcc-hub-power-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio3 RK_PA6 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc_hub_power_en>;
		regulator-name = "vcc_hub_power_en";
		regulator-always-on;
	};

	edp_power: edp-power-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio3 RK_PA5 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&edp_pwr_en>;
		regulator-name = "edp_power";
		regulator-always-on;
	};

	sata_power: sata-power-regulator {
		compatible = "regulator-fixed";
		regulator-name = "sata_power";
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
		gpio = <&gpio1 RK_PA4 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
		pinctrl-names = "default";
		pinctrl-0 = <&sata_pwr_en>;
	};

	mini_pcie_3v3: mini-pcie-3v3-regulator {
		compatible = "regulator-fixed";
		regulator-name = "minipcie_3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		regulator-always-on;
		gpio = <&gpio3 RK_PC3 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <5000>;
		vin-supply = <&vcc5v0_sys>;
	};

	leds: leds {
		status = "okay";
		compatible = "gpio-leds";

		led0: led0 {
			label = "heartbeat";
			linux,default-trigger = "heartbeat";
			default-state = "on";
			gpios = <&gpio4 RK_PD2 GPIO_ACTIVE_LOW>;
			pinctrl-names = "default";
			pinctrl-0 = <&led0_pin>;
		};
	};

};

&i2c5 {
	status = "okay";
	clock-frequency = <100000>;

	gt9112: gt9112@5d {
		status = "okay";
		compatible = "goodix,gt911";
		reg = <0x5d>;
		interrupt-parent = <&gpio3>;
		interrupts = <RK_PA7 IRQ_TYPE_LEVEL_LOW>;
		reset-gpios = <&gpio3 RK_PA0 GPIO_ACTIVE_LOW>;
		irq-gpios = <&gpio3 RK_PA7 GPIO_ACTIVE_HIGH>;
		touchscreen-inverted-x = <1>;
		touchscreen-inverted-y = <1>;
	};		
};

&xin32k {
	status = "disabled";
};

&pwm2 {
	status = "okay";
};

&pwm3 {
	status = "okay";

	compatible = "rockchip,remotectl-pwm";
	interrupts = <GIC_SPI 82 IRQ_TYPE_LEVEL_HIGH>;
	remote_pwm_id = <3>;
	handle_cpu_id = <1>;
	remote_support_psci = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pwm3_pins>;

	ir_key_lubancat{
		rockchip,usercode = <0x909>;
		rockchip,key_table =
			<0xf4   KEY_POWER>,
			<0xe6   KEY_SLEEP>,
			<0xe4   KEY_WAKEUP>,
			<0xed   KEY_VOLUMEUP>,
			<0xec   KEY_VOLUMEDOWN>,
			<0xef   KEY_UP>,
			<0xee   KEY_DOWN>;
	};

	ir_key1 {
		rockchip,usercode = <0x4040>;
		rockchip,key_table =
			<0xf2	KEY_REPLY>,
			<0xba	KEY_BACK>,
			<0xf4	KEY_UP>,
			<0xf1	KEY_DOWN>,
			<0xef	KEY_LEFT>,
			<0xee	KEY_RIGHT>,
			<0xbd	KEY_HOME>,
			<0xea	KEY_VOLUMEUP>,
			<0xe3	KEY_VOLUMEDOWN>,
			<0xe2	KEY_SEARCH>,
			<0xb2	KEY_POWER>,
			<0xbc	KEY_MUTE>,
			<0xec	KEY_MENU>,
			<0xbf	0x190>,
			<0xe0	0x191>,
			<0xe1	0x192>,
			<0xe9	183>,
			<0xe6	248>,
			<0xe8	185>,
			<0xe7	186>,
			<0xf0	388>,
			<0xbe	0x175>;
	};

	ir_key2 {
		rockchip,usercode = <0xff00>;
		rockchip,key_table =
			<0xf9	KEY_HOME>,
			<0xbf	KEY_BACK>,
			<0xfb	KEY_MENU>,
			<0xaa	KEY_REPLY>,
			<0xb9	KEY_UP>,
			<0xe9	KEY_DOWN>,
			<0xb8	KEY_LEFT>,
			<0xea	KEY_RIGHT>,
			<0xeb	KEY_VOLUMEDOWN>,
			<0xef	KEY_VOLUMEUP>,
			<0xf7	KEY_MUTE>,
			<0xe7	KEY_POWER>,
			<0xfc	KEY_POWER>,
			<0xa9	KEY_VOLUMEDOWN>,
			<0xa8	KEY_VOLUMEDOWN>,
			<0xe0	KEY_VOLUMEDOWN>,
			<0xa5	KEY_VOLUMEDOWN>,
			<0xab	183>,
			<0xb7	388>,
			<0xe8	388>,
			<0xf8	184>,
			<0xaf	185>,
			<0xed	KEY_VOLUMEDOWN>,
			<0xee	186>,
			<0xb3	KEY_VOLUMEDOWN>,
			<0xf1	KEY_VOLUMEDOWN>,
			<0xf2	KEY_VOLUMEDOWN>,
			<0xf3	KEY_SEARCH>,
			<0xb4	KEY_VOLUMEDOWN>,
			<0xbe	KEY_SEARCH>;
	};

	ir_key3 {
		rockchip,usercode = <0x1dcc>;
		rockchip,key_table =
			<0xee	KEY_REPLY>,
			<0xf0	KEY_BACK>,
			<0xf8	KEY_UP>,
			<0xbb	KEY_DOWN>,
			<0xef	KEY_LEFT>,
			<0xed	KEY_RIGHT>,
			<0xfc	KEY_HOME>,
			<0xf1	KEY_VOLUMEUP>,
			<0xfd	KEY_VOLUMEDOWN>,
			<0xb7	KEY_SEARCH>,
			<0xff	KEY_POWER>,
			<0xf3	KEY_MUTE>,
			<0xbf	KEY_MENU>,
			<0xf9	0x191>,
			<0xf5	0x192>,
			<0xb3	388>,
			<0xbe	KEY_1>,
			<0xba	KEY_2>,
			<0xb2	KEY_3>,
			<0xbd	KEY_4>,
			<0xf9	KEY_5>,
			<0xb1	KEY_6>,
			<0xfc	KEY_7>,
			<0xf8	KEY_8>,
			<0xb0	KEY_9>,
			<0xb6	KEY_0>,
			<0xb5	KEY_BACKSPACE>;
	};
};

&i2c0 {
		rx8010: rx8010@32 {
			compatible = "epson,rx8010";
			reg = <0x32>;
			pinctrl-0 = <&rx8010_irq>;
			interrupt-parent = <&gpio0>;
			interrupts = <8 IRQ_TYPE_LEVEL_LOW>;
			status = "okay";
		};
};

&spi1 {
	status = "disabled";
};

&spi_wk2xxx {
	status = "okay";
};

&pcie30phy {
	   status = "okay";
};

&pcie3x2 {
		reset-gpios = <&gpio2 RK_PD6 GPIO_ACTIVE_HIGH>;
		vpcie3v3-supply = <&pcie30_3v3>;

	   status = "okay";
};

/* mini pcie */
&pcie2x1 {
	reset-gpios = <&gpio3 RK_PC1 GPIO_ACTIVE_HIGH>;
	disable-gpios = <&gpio3 RK_PC2 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&mini_pcie_3v3>;
	status = "okay";
};

&its {
	status = "okay";
};

&gmac0 {
	status = "okay";
};

&gmac1 {
	status = "okay";
};

&rgmii_phy0 {
	led_status_value = <0x6940>;
};

&rgmii_phy1 {
	led_status_value = <0x6940>;
};


&sdmmc2 {
	status = "okay";
	max-frequency = <100000000>;
};


&spdif_8ch{
	status = "disabled";
};

&rk809_codec {
	hp-ctl-gpios = <&gpio0 RK_PB5 GPIO_ACTIVE_HIGH>;
};

&rk809 {
	rtc {
		status = "disabled";
	};
};

&pwm11 {
	status = "okay";
	pinctrl-0 = <&pwm11m1_pins>;
};

&sata0 {
	target-supply = <&sata_power>;
	status = "okay";
};

&pinctrl {

	usb {
		vcc_hub_power_en: vcc-hub-power-en {
			rockchip,pins = <3 RK_PA6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	rx8010 {
		rx8010_irq: rx8010-irq {
				rockchip,pins = <0 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	sata {
		sata_pwr_en: sata-pwr-en {
			rockchip,pins = <1 RK_PA4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	edp {
		edp_pwr_en: edp-pwr-en {
			rockchip,pins = <3 RK_PA5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	leds {
		led0_pin: led0-pin {
			rockchip,pins = <4 RK_PD2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};
