/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>

/ {

	fragment@0 {
		target = <&spi3>;

		__overlay__ {
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;
			// SPI gpio模拟多个cs信号 
			pinctrl-names = "default", "high_speed";
			pinctrl-0 = <&spi3_cs0 &spi3_cs1 &spi3m1_pins>;
			pinctrl-1 = <&spi3_cs0 &spi3_cs1 &spi3m1_pins_hs>;
			cs-gpios = <&gpio4 RK_PC6 GPIO_ACTIVE_LOW>, <&gpio1 RK_PB3 GPIO_ACTIVE_LOW>;

			spi_dev@00 {
				compatible = "rockchip,spidev";
				reg = <0>; //chip select 0:cs0  1:cs1
				spi-max-frequency = <24000000>; //spi output clock
			};

			spi_dev@01 {
				compatible = "rockchip,spidev";
				reg = <1>;
				spi-max-frequency = <24000000>;
			};
		};
	};
};
